* text=auto !eol
/compresseur_http.php -text
/compresseur_pipeline.php -text
filtres/compresseur.php -text
formulaires/configurer_compresseur.html -text
formulaires/configurer_compresseur.php -text
images/compresseur-128.png -text
images/compresseur-32.png -text
inc/compresseur.php -text
lib/JavascriptPacker/class.JavaScriptPacker.php -text
/plugin.xml -text
tests/compacte.html -text
tests/compacte_css.php -text
tests/css/expected.css -text
tests/css/expected_highest_screen.css -text
tests/css/expected_more.css -text
tests/css/expected_more_screen.css -text
tests/css/expected_simple.css -text
tests/css/source.css -text
tests/css/source_simple.css -text
