* text=auto !eol
/compresseur_fonctions.php -text
/compresseur_options.php -text
/compresseur_pipeline.php -text
formulaires/configurer_compresseur.html -text
formulaires/configurer_compresseur.php -text
images/compresseur-16.png -text
images/compresseur-24.png -text
images/compresseur-32.png -text
inc/compresseur.php -text
inc/compresseur_concatener.php -text
inc/compresseur_embarquer.php -text
inc/compresseur_minifier.php -text
lang/compresseur.xml -text
lang/compresseur_ar.php -text
lang/compresseur_ast.php -text
lang/compresseur_br.php -text
lang/compresseur_ca.php -text
lang/compresseur_co.php -text
lang/compresseur_de.php -text
lang/compresseur_en.php -text
lang/compresseur_eo.php -text
lang/compresseur_es.php -text
lang/compresseur_eu.php -text
lang/compresseur_fa.php -text
lang/compresseur_fr.php -text
lang/compresseur_fr_tu.php -text
lang/compresseur_gl.php -text
lang/compresseur_he.php -text
lang/compresseur_it.php -text
lang/compresseur_it_fem.php -text
lang/compresseur_lb.php -text
lang/compresseur_nl.php -text
lang/compresseur_pt_br.php -text
lang/compresseur_ro.php -text
lang/compresseur_ru.php -text
lang/compresseur_sk.php -text
lang/compresseur_sv.php -text
lang/compresseur_tr.php -text
lang/compresseur_uk.php -text
lang/paquet-compresseur.xml -text
lib/JavascriptPacker/class.JavaScriptPacker.php -text
lib/minify_html/class.minify_html.php -text
tests/compacte.html -text
tests/compacte_css.php -text
tests/css/expected.css -text
tests/css/expected_highest_screen.css -text
tests/css/expected_more.css -text
tests/css/expected_more_screen.css -text
tests/css/expected_simple.css -text
tests/css/source.css -text
tests/css/source_simple.css -text
