parameters:
	ignoreErrors:
		-
			message: "#^Function ecrire_fichier_calcule_si_modifie not found\\.$#"
			count: 1
			path: compresseur_fonctions.php

		-
			message: "#^Function extraire_attribut not found\\.$#"
			count: 1
			path: compresseur_fonctions.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 4
			path: compresseur_fonctions.php

		-
			message: "#^Function inserer_attribut not found\\.$#"
			count: 1
			path: compresseur_fonctions.php

		-
			message: "#^Function lire_fichier not found\\.$#"
			count: 2
			path: compresseur_fonctions.php

		-
			message: "#^Function sous_repertoire not found\\.$#"
			count: 1
			path: compresseur_fonctions.php

		-
			message: "#^Function sql_getfetsel not found\\.$#"
			count: 1
			path: compresseur_fonctions.php

		-
			message: "#^Function sql_quote not found\\.$#"
			count: 1
			path: compresseur_fonctions.php

		-
			message: "#^Function supprimer_timestamp not found\\.$#"
			count: 2
			path: compresseur_fonctions.php

		-
			message: "#^Function test_espace_prive not found\\.$#"
			count: 4
			path: compresseur_fonctions.php

		-
			message: "#^Function url_absolue_css not found\\.$#"
			count: 1
			path: compresseur_fonctions.php

		-
			message: "#^Function _T not found\\.$#"
			count: 1
			path: compresseur_ieconfig.php

		-
			message: "#^Function protocole_implicite not found\\.$#"
			count: 1
			path: compresseur_options.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 1
			path: compresseur_pipeline.php

		-
			message: "#^Function recuperer_fond not found\\.$#"
			count: 1
			path: compresseur_pipeline.php

		-
			message: "#^Function _T not found\\.$#"
			count: 1
			path: formulaires/configurer_compresseur.php

		-
			message: "#^Function _request not found\\.$#"
			count: 2
			path: formulaires/configurer_compresseur.php

		-
			message: "#^Function appliquer_modifs_config not found\\.$#"
			count: 1
			path: formulaires/configurer_compresseur.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 1
			path: formulaires/configurer_compresseur.php

		-
			message: "#^Function set_request not found\\.$#"
			count: 2
			path: formulaires/configurer_compresseur.php

		-
			message: "#^Function tester_url_absolue not found\\.$#"
			count: 1
			path: formulaires/configurer_compresseur.php

		-
			message: "#^Function charger_fonction not found\\.$#"
			count: 2
			path: inc/compresseur.php

		-
			message: "#^Function chercher_filtre not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function ecrire_fichier_calcule_si_modifie not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function erreur_squelette not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function extraire_attribut not found\\.$#"
			count: 8
			path: inc/compresseur.php

		-
			message: "#^Function extraire_balises not found\\.$#"
			count: 2
			path: inc/compresseur.php

		-
			message: "#^Function find_in_path not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function generer_url_public not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: inc/compresseur.php

		-
			message: "#^Function lire_fichier not found\\.$#"
			count: 5
			path: inc/compresseur.php

		-
			message: "#^Function protocole_implicite not found\\.$#"
			count: 7
			path: inc/compresseur.php

		-
			message: "#^Function recuperer_url not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function sous_repertoire not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function suivre_lien not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function test_espace_prive not found\\.$#"
			count: 1
			path: inc/compresseur.php

		-
			message: "#^Function timestamp not found\\.$#"
			count: 2
			path: inc/compresseur.php

		-
			message: "#^Function url_absolue not found\\.$#"
			count: 2
			path: inc/compresseur.php

		-
			message: "#^Function url_de_base not found\\.$#"
			count: 2
			path: inc/compresseur.php

		-
			message: "#^Function ecrire_fichier_calcule_si_modifie not found\\.$#"
			count: 2
			path: inc/compresseur_concatener.php

		-
			message: "#^Function generer_url_public not found\\.$#"
			count: 1
			path: inc/compresseur_concatener.php

		-
			message: "#^Function lire_fichier not found\\.$#"
			count: 1
			path: inc/compresseur_concatener.php

		-
			message: "#^Function recuperer_fond not found\\.$#"
			count: 1
			path: inc/compresseur_concatener.php

		-
			message: "#^Function self not found\\.$#"
			count: 1
			path: inc/compresseur_concatener.php

		-
			message: "#^Function sous_repertoire not found\\.$#"
			count: 1
			path: inc/compresseur_concatener.php

		-
			message: "#^Function spip_log not found\\.$#"
			count: 1
			path: inc/compresseur_concatener.php

		-
			message: "#^Function url_absolue not found\\.$#"
			count: 1
			path: inc/compresseur_concatener.php

		-
			message: "#^Function chercher_filtre not found\\.$#"
			count: 1
			path: inc/compresseur_embarquer.php

		-
			message: "#^Function extraire_attribut not found\\.$#"
			count: 1
			path: inc/compresseur_minifier.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: inc/compresseur_minifier.php

		-
			message: "#^Function spip_log not found\\.$#"
			count: 1
			path: inc/compresseur_minifier.php

